<!-- Generated template for the PubliciteComponent component -->
<div class="modal_content">

  <ion-buttons end >
    <button icon-start="" ion-button="" color="danger" (click)="quitter()"><ion-icon name="ios-close-circle-outline"></ion-icon></button>
  </ion-buttons>
  <h3 style="text-align: center;color: #639dd5;font-weight: bold;font-family: Georgia;font-weight: bold">{{ message.title }}</h3>

  <p style="font-family: Georgia;">{{ message.body }}</p>
  <img src="{{ message.bigPicture }}"/>
</div>
