<img *ngIf="inCommingData.operation=='Connexion' || glb.modeTransactionnel==false" class="p-img p-img-connexion" style="margin-top: 10px !important ;width:70% !important;" [src]="inCommingData.image" alt="logo">
<h4 style="color: #639dd5" *ngIf="inCommingData.operation=='Connexion'" style="font-weight: bold;" text-center margin-vertical>{{ inCommingData.operation }}</h4>

<ion-card padding="" style="border-radius: 10px; margin:auto !important" *ngIf="inCommingData && inCommingData.montant && inCommingData.montant!='RAS'">
    <h5 style="color: #639dd5"  text-center margin-vertical>{{ inCommingData.operation }}</h5>
    <ion-list>
        <span *ngIf="inCommingData.telephone && inCommingData.telephone!='RAS'">
            <ion-item no-lines>
                <ion-label>{{inCommingData.label}} </ion-label>:
                <ion-label style="font-weight: bold;">{{inCommingData.telephone}} </ion-label>:
            </ion-item>
        </span>
          <ion-item no-lines >
                <ion-label>Montant TTC </ion-label>:
                <ion-label style="font-weight: bold;">{{inCommingData.montant}}F CFA</ion-label>:
          </ion-item>
    </ion-list>

</ion-card>






  <h6 style="color: #639dd5" text-center margin-vertical>{{ pagetitle }}</h6>
  <div text-center large margin-vertical>
     <ion-icon color="proximo" [name]="pin.length>0 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
    <ion-icon color="proximo"  [name]="pin.length>1 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
    <ion-icon color="proximo"   [name]="pin.length>2 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
    <ion-icon color="proximo"  [name]="pin.length>3 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
  </div>
  <div>
    <ion-grid text-center>

          <ion-row >
              <ion-col *ngFor="let tab of taba">
                  <button style="color: #639dd5" ion-button round large outline (click)="handleInput(tab)">{{tab}}</button>
              </ion-col>
          </ion-row>
          <ion-row >
              <ion-col *ngFor="let tab of tabb">
                  <button style="color: #639dd5" ion-button round large outline (click)="handleInput(tab)">{{tab}}</button>
              </ion-col>
          </ion-row>
          <ion-row >
              <ion-col *ngFor="let tab of tabc">
                  <button style="color: #639dd5" ion-button round large outline (click)="handleInput(tab)">{{tab}}</button>
              </ion-col>
          </ion-row>
      <ion-row>
        <ion-col>
              <button style="color: #639dd5" ion-button clear large no-padding (click)="handleInput('ok')"><ion-icon name="ios-arrow-dropdown-outline"></ion-icon></button>
          </ion-col>
          <ion-col>
            <button style="color: #639dd5" ion-button round large outline (click)="handleInput(lastnumer)">{{lastnumer}}</button>
          </ion-col>
          <ion-col>
            <button style="color: #639dd5" ion-button clear large no-padding (click)="handleInput('clear')"><ion-icon name="ios-backspace-outline"></ion-icon></button>
          </ion-col>

      </ion-row>
    </ion-grid>
  </div>

