
<ion-header>
  <headerComp></headerComp>
</ion-header>
<ion-content isScrolling="true">
  <div class="p-container">
    <header-title></header-title>
    <div class="im-wrapper p-container-view">
      <p class="p-img-top logo-postcash"></p>
      <div *ngIf="!glb.showRecu">
        <div *ngIf="!glb.showPin">
          <ion-item style="border-bottom: 2px solid #639dd5;border-radius: 5px ">
            <ion-label floating="" style="color:#444 !important;font-family: ubuntuMono !important;">Type de Service</ion-label>
            <ion-select style="border-top: none" [(ngModel)]="service" interface="popover">
              <ion-option>Cashin</ion-option>
           <!--    <ion-option>Retrait Compte</ion-option -->>
            </ion-select>
          </ion-item>
        </div>
        <cashinreleve *ngIf="service=='Cashin'" [cashindata]="datacashin"></cashinreleve>
        <cashout-postcash *ngIf="service=='Retrait Compte'" [dataretrait]="dataretrait"></cashout-postcash>
      </div>
      <div *ngIf="glb.showRecu">
        <recu-recharge></recu-recharge>
      </div>
    </div>

  </div>
  <scroll></scroll>

</ion-content>
