
<ion-header>
    <headerComp></headerComp>
  </ion-header>
  <ion-content isScrolling="true">
    <div class="p-container">
      <header-title></header-title>
      <div class="im-wrapper p-container-view">
        <p class="p-img-top logo-upay"></p>
        <div *ngIf="!glb.showRecu">
          <div *ngIf="!glb.ShowPin">
            <ion-item style="border-bottom: 2px solid #639dd5;border-radius: 5px ">
              <ion-label floating="" style="color:#444 !important;font-family: ubuntuMono !important;" >Type de Service</ion-label>
              <ion-select style="border-top: none" [(ngModel)]="service" interface="popover">
                <ion-option>Cashin</ion-option>
                <ion-option>Cashout</ion-option>
              </ion-select>
            </ion-item>
          </div>
          <recharge [datarecharge]="datarecharge" *ngIf="service=='Cashin'"></recharge>
          <cashinreleve *ngIf="service=='Cashout'" [cashindata]="datacashin"></cashinreleve>
          <!-- <cashoutom *ngIf="service=='Cashout'" [datareception]="datareception"></cashoutom> -->
        </div>
        <div *ngIf="glb.showRecu && !glb.ShowPin">
          <recu-recharge></recu-recharge>
        </div>
      </div>

    </div>
    <scroll></scroll>

  </ion-content>
