  <div class="modal_content">
    <ion-list style="margin-top: 20px">
      <ion-item style="background-color: #FFD180;border-radius: 10px">
        <ion-avatar item-start="">
          <img src="assets/imgs/upay.png">
        </ion-avatar>
        <h2 style="color:white; font-family: Georgia;margin-top: 4px;">UPay</h2>
      </ion-item>
    </ion-list>
    <fieldset>
      <h3 style="text-align: center;color: #639dd5;font-weight: bold;font-family: Georgia;font-weight: bold">{{ message.title }}</h3>
      <p style="font-family: Georgia;">{{ message.body }}</p>
    </fieldset>
    <ion-buttons end style="margin-top: 25px">
      <button icon-start="" ion-button="" color="proximo" (click)="quitter()"><ion-icon name="md-checkmark-circle-outline"></ion-icon> OK</button>
    </ion-buttons>
  </div>

